<div class="row">
    <div class="col-sm-12">
        <h3>Daily Bonuses</h3>
        <p>This scoring category is for points-per-day (PPD) activities, including Tabata Challenges, Head-to-Head match ups,
        and daily stretching.</p>
        <h4>Tabata Challenges: 1500 PPD</h4>
        <p>You can only complete the Tabata challenge once per day. It is meant to be a good way to top off your
            exercise for the day since it only takes 4 minutes.</p>
        <p>Tabata workouts consist of 8 rounds of 20 seconds on and 10 seconds recovery. I recommend choosing a different
            workout from <a href="/#/tabatas">the list of approved Tabata workouts</a> every day, since you don't want to
            overwork one muscle group. I encourage you to submit challenges yourself if you would like to see them and
            I will incorporate them in future games.</p>
        <p>This is probably a new concept for many of you. I highly encourage you to google the Tabata methodology
            for yourselves to learn the procedure, theory, and benefits. It is a form of HIIT (high intensity interval
            training) that helps with endurance and recovery (very useful in ultimate since we do lots of sprinting). It is also
            touted as a phenomenal way to burn fat due to EPOC (excess post-exercise oxygen consumption). EPOC
            basically means your metabolism shoots through the roof because your muscles are still trying to gather
            oxygen hours after you have finished exercising.</p>
        <hr>
        <h4>Stretching: 1000 PPD</h4>
        <p>You can only earn points for this once per day (thought additional stretching is encouraged). Try to do this
            at least once a day <em>after your workout</em>. You must stretch for at least 10 minutes to earn this bonus.</p>
        <p>If yoga is part of your workout that day, then you can count this bonus for the day without spending an
            extra 10 minutes stretching.
        </p>
        <hr>
        <h4>Head-to-Head Challenges: 5000 PPD</h4>
        <p>
            Each week there will be a different challenge against your opponent. These will be explained each week.</p>
        <ul>
            Examples:
            <li>Most push ups</li>
            <li>Most miles ran</li>
            <li>Highest Tabata challenge score</li>
        </ul>
        <p>These will be added manually during the downtime period when I’m doing weekly maintenance.</p>
        <p>Sometimes these will require you to fill in data yourself (such as Tabata challenge scores) and sometimes
            these will happen automatically based on other fields (such as push ups and miles ran).</p>
    </div>
</div>


