<div class="row">
    <div class="col-sm-12">
        <h3>Good Spirit</h3>
        <p>Much like during the regular ultimate season, a lot of this is relying on people having good spirit and
            reporting in good faith. It would be extremely hard to verify that you’re not cheating, and ain’t nobody
            got time for that. <strong>Be reasonable about how you do your rounding.</strong> If you feel justified
            in reporting a stat a certain way, then go ahead and do so. If you’re uncertain, feel free to contact
            me to verify/clarify. The punishment for playing with bad spirit is relentless heckling.</p>
        <p>Oh, and don’t be taking steroids or blood doping.</p>
        <hr>
        <h3>Match Ups</h3>
        <p>Each week you will be pitted against another player on the <a href="/#/matchups">Weekly Matchup</a> page.
            <strong>There is no draft. You play for yourself and you play to win.</strong></p>
        <p>Games run from <strong>Monday morning to Sunday evening</strong>. There will be a downtime on Sundays from
            8PM to midnight, when I will be tallying scores and performing other league duties. You can earn points
            during this time, even if your opponent has yet to be determined, but all points earned during this period will
            apply to the following week.</p>
        <p>Record your workouts on the <a href="/#/{{ currentUser }}/fitlog">Log Exercise</a> page.
            Calculations will be done for you and your total points will be updated on the <a href="/#/matchups">Weekly Matchup</a>
            and <a href="/#/scoreboard">Scoreboard</a> pages. It is HIGHLY suggested that you log your workouts daily
            instead of trying to do it all on Sunday. If you can’t remember how you scored on something, then you should
            forfeit those points instead of guessing.</p>
        <p>We will be running with a normal league play for simplicity sake. Future iterations of Fantasy Fitness may
            include more sophisticated league formats.</p>
        <hr>
        <h3>Rewards/Compensations/Penalties</h3>
        <p>There are no prizes or punishments for participating in this league. I don’t feel like handling people’s
            money for this, and do I want to tempt people to cheat since this experiment relies entirely on good
            sportsmanship. I have no idea how I would enforce any punishments anyhow.</p>
    </div>
</div>





