<div class="row">
    <div class="col-sm-12">
        <h3>Hourly Activities</h3>
        <p>This category is meant to encompass what cannot be discretely measured. <strong>No double counting!</strong>
            You <strong>cannot</strong> accumulate points from your Individual Movements and
            your hourly activities simultaneously (i.e. If you do a bunch of push ups/pull ups for crossfit, you
            can earn points for each individual push up/pull up, <strong>OR</strong> you can earn points for each hour of
            crossfit, but not both).</p>
        <p>This is likely where you will earn the majority of your points. Be reasonable and have good spirit here.
            Most training regimens are based on a one-hour long session. If you take 90 minutes because you’re gabbing
            with your lifting buddy, you should only count it as 1 hour. Alternatively, if you beast mode your way
            through the workout and complete it in 45 minutes, you can still count it as an hour.
            If the lifting regimen is supposed to take 90 minutes, then go ahead and enter it as 1.5 hours.
            <strong>In short:</strong> count it based on your program’s suggested time. If you’re making it up yourself,
            be fair.</p>
        <h4>High Intensity Exercise: 7000 PPH (Points Per Hour)</h4>
        <p>This is meant to encapsulate things that are high-cardio exercises, like circuit training, crossfit, spin
            class, sprints, high intensity interval training (HIIT), vigorous core exercises, etc.</p>
        <h4>Low Intensity Exercise: 5000 PPH</h4>
        <p>This is meant to encapsulate things that are low-cardio exercises, like weightlifting, swimming, and yoga.</p>
        <p>Swimming and some yoga classes (those labeled along the lines of “Power Up”) are actually more like high intensity
            circuit training or a fitness class. Feel free to count them as such, but <strong>use discretion wisely</strong>.
            </p>
        <p>If you are uncertain which category your workout falls under, please ask me for clarification!</p>

        <h4>General Sporting: 3500 PPH</h4>
        <p>If you are playing a sport (indoor ultimate, goaltimate, indoor soccer) or anything that doesn’t fit into
            the former two categories, then you should count it by the hours played (to the quarter hour if possible).</p>
        <p>The point value is lower because you will likely spend time on the sideline and because this is not “focused” exercise.
            (i.e. You gain more from 20 minutes of an intense HIIT workout than from an hour of playing ultimate).</p>
        <p>
            Other notes about this category:
        </p>
            <ul>
                <li>If you're playing a sport that has a set time (like a soccer game), count it by the game's duration: Ex. Two
                    45 minutes halves means you played for 90 minutes/1.5 hours.</li>
                <li>If you're playing a sport that goes until you reach a point cap, be reasonable and make your best guess as to
                    how long you played.</li>
                <li><strong>The double-counting exclusion rule DOES NOT apply here</strong>. If you are bored on the
                    sideline and feel like boosting your points, you are encouraged to do push ups or other individual
                    movements.</li>
            </ul>
        <hr>
        <h3>Individual Movements</h3>
        <p>These should help you pad your score with some quick points. While you can create your own workout routine
            based on these movements, you will likely find that points can be earned faster through hourly activities.</p>
            <ul>
                <li>Distances are calculated to the decimal point (i.e. If you run for 2.6 miles, you will earn 2600 points).</li>
                <li>Discrete movements (pull-ups, push-ups, etc.) can be accumulated throughout the day (i.e. Every time you go to the bathroom,
                    do 10 push ups [a.k.a. "piss-ups"]).</li>
            </ul>
        <h4>Discrete Movements</h4>
        <ul>
            <li><strong>Push Ups: 10 Points Each.</strong> &mdash; Chest to ground push ups. At the very least, your shirt (or
                chest hair) should make contact with the ground.
            </li>
            <li><strong>Pull Ups / Handstand Push Ups: 50 Points Each.</strong> &mdash; Handstand push ups may be done with a
                wall for balance or free standing if you have the balance for it. “Kipping” HPU/PUs are worth ⅓ the value
                (i.e. 6 pull ups + 2 kipping pull ups = [6 + 3* ⅓]*50 = [6+.6]*50 = 6.6*50 = 350 points).
            </li>
            <li><strong>Air Squats: 5 Points Each</strong> &mdash;
                Hip crease below knee crease!
            </li>
            <li><strong>Agility Ladders: 50 Points Each</strong></li>
        </ul>
        <h4>PPM Activities (Points Per Mile)</h4>
        <ul>
            <li><strong>Running: 1000 PPM</strong>
                <p>Treadmill is useful since it will tell you how far you ran. Otherwise, use a route-tracking app or
                    fitbit-like technology to track your mileage.</p>
                <p>You don’t necessarily have to be “running” the entire time. If you walk part of your route, that’s
                    fine, but discretion is important here. <strong>DO NOT</strong> count the steps you take walking around the office.</p>
                <p>No bonuses are awarded for inclined running, trail running or otherwise. You are highly encouraged to do
                    so anyway, for bragging rights.</p>
                <p>Cross-country skiing and other variations fall under this category as well. Downhill skiing (obivously) does not.</p>
            </li>
            <li><strong>Swimming: 3500 PPM</strong>
                <p>Figure out the length of your pool and determine how far you swam based on laps.</p>
            </li>
            <li><strong>Cycling: 250 PPM</strong>
                <p>Stationary bike counts. No bonuses are applied for using resistance. Track mileage using a route-tracking app
                    if not using a stationary. <strong>DO NOT ESTIMATE</strong>.</p>
                <p>Commuting/transportation counts. You don’t have to keep tracking the route if you do the same route
                    frequently (i.e. Commuting to work from home or going to your favorite bar from your home). Use common sense and
                    have good spirit with this one guys.</p>
            </li>
            <li><strong>Rowing: 250 PPK (measure in kilometers)</strong>
                <p>Use a rowing machine to track distance. I have no idea how to calculate in-water rowing.
                    Don’t question why this one is using the metric system.</p>
            </li>
        </ul>
    </div>
</div>


