<div class="view-scoreboard" ng-controller="ScoreCtrl">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Scoreboard <br> <small>{{ dateRange[0] | date: 'mediumDate' }} - {{ dateRange[1] | date: 'mediumDate' }}</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive">
                <thead>
                    <th>Player</th>
                    <th>Hourly Activities</th>
                    <th>Individual Movements</th>
                    <th>Total Points</th>
                </thead>
                <tbody>
                    <tr>
                        <td>The Six Million Dollar Man</td>
                        <td>
                            High Intensity (hrs): 28 <strong>(196,000)</strong>
                        </td>
                        <td>
                            Push Ups: 15 <strong>(150)</strong>
                        </td>
                        <td>196,150</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
