<div class="page-header">
    <h1>Tabata Challenges</h1>
    <p>You may complete a Tabata Challenge once per day. It is meant to be a good way to top off your exercise
        for the day since it only takes 4 minutes. See the list of approved workouts and more information below.</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <ol class="list-tabatas">
            <li>Burpees</li>
            <li>Jump Squats &amp; Switch Jump Lunges</li>
            <li>Push Ups &amp; Tuck Jumps</li>
            <li>Supermans &amp; Push Ups</li>
            <li>Mountain Climbers &amp; Jump Squats</li>
            <li>Robot Push Ups &amp; V-Ups</li>
        </ol>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <p>Try to vary which Tabata Challenge you choose each day, since doing
        the same Challenge 7 days in a row will destroy one muscle group. I encourage you to submit Challenges yourself
        if you would like to see them and I will incorporate them in future games.</p>
        <p>Tabata Challenges consist of 8 rounds of 20 seconds on and 10 seconds recovery. If there is one movement, you
            do that movement 8 times. If there are two movements, you do each 4 times. It should always sum up to being
            a 4 minute workout.</p>
        <p>If you’d like, you may combine Tabatas together (if you combine #2 and #3 you only have to do each movement 2
            times since you now have 4 movements).</p>

        <p>This is a useful website and app for timing your Tabatas: <a href="http://www.Tabatatimer.com/">Tabata Timer</a>.
        There is also a decent Android/iOS app (just search "tabata timer" on the app store).</p>
    </div>
</div>

